@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* We force light mode for this assessment to match the visual design */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}